<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/styles/normalize.css" type="text/css" />
  <link rel="stylesheet" href="/styles/output.css" type="text/css" />
  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>Register</title>

</head>

<body class="bg-ash">

  <section
    class="grid grid-cols-4 gap-x-4 grid-rows-none mx-4 md:grid-cols-8 lg:grid-cols-12 xl:max-w-screen-xl xl:mx-auto h-screen  pt-10">
    <div class="col-span-4 col-span-7 self-center  lg:block">
      <table class="table-auto">
        <thead class="border-b-2 border-white">
          <tr class="text-coffee-brown">
            <th class="px-4 py-2">Name</th>
            <th class="px-4 py-2">Category</th>
            <th class="px-4 py-2">Stock</th>
            <th class="px-4 py-2">Price</th>
            <th class="px-4 py-2">Desc.</th>
            <th class="px-4 py-2">Time</th>
            <th class="px-4 py-2">Edit</th>

          </tr>
        </thead>
        <tbody>

          <% for(let item in menuItems) { %>
            <tr class="border-b border-coffee-brown text-white items-center">
              <td class=" px-4 py-2"><%=menuItems[item].name%></td>
              <td class=" px-4 py-2 text-center"><%=menuItems[item].category%></td>
              <td class="px-4 py-2 text-center"><%=menuItems[item].in_stock%></td>
              <td class=" px-4 py-2 text-center">$<%=menuItems[item].price / 100%></td>
              <td class=" px-4 py-2 overflow-auto flex flex-wrap"><%=menuItems[item].description%></td>
              <td class=" px-4 py-2 text-center"><%=menuItems[item].prep_time%></td>
              <td class=" px-2 py-2 text-center "> 
                <div class="flex items-end ">
                  <form action="/edit/" class="mr-2">
                    <button>
                      <img  src="/images/icons/edit.svg"/> 

                    </button>
                  </form>
                  <form  action="/edit/"  >
                    <button  >
                      <img src="/images/icons/trash.svg"/>

                    </button>

                  </form>
                </div
              ></td>

            </tr>
            <%}%>

        </tbody>
      </table>
    </div>

    <form method="POST" action="/register"
      class="col-span-4 grid grid-cols-4 gap-x-4 md:col-start-2 md:col-span-6 md:p-10 lg:col-start-7 lg:col-span-6 self-center xl:col-start-8 xl:col-span-5">
      <h1 class="text-white text-5xl font-display font-bold h-auto block col-span-4">
        Sign Up
      </h1>
      <p class="text-white col-span-4 mb-6 block font-body font-light col-span-4">
        Create an account to order for pickup.
      </p>
      <div class="mb-4 col-start-1 col-span-2">
        <label class="block text-white text-sm mb-2" for="username">
          Name
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="name" name="name"
          type="text" />
      </div>
      <div class="mb-4 col-start-3 col-span-2">
        <label class="block text-white text-sm mb-2" for="phone">
          Phone Number
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="phone" name="phone"
          type="tel" />
      </div>
      <div class="mb-4 col-span-4">
        <label class="block text-white text-sm mb-2" for="email">
          Email Address
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="email" name="email"
          type="email" />
      </div>
      <div class="col-span-4">
        <label class="block text-white text-sm mb-2" for="password">
          Password
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="password"
          name="password" type="password" />
      </div>
      <button type="submit" class="bg-coffee-brown col-span-4 py-3 rounded text-white mt-10">
        Sign Up
      </button>
      <p class="text-white col-span-4 text-center font-light mt-6 md:mt-10 md:col-start-2 md:col-span-2">
        Already have an account?
      </p>
      <a href="/login" class="text-coffee-brown col-span-4 text-center mt-1 md:col-start-2 md:col-span-2">Login Here
      </a>
    </form>
  </section>
  <script src="/scripts/nav.js"></script>
</body>

</html>
