<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/styles/normalize.css" type="text/css" />
  <link rel="stylesheet" href="/styles/output.css" type="text/css" />
  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>Update</title>

</head>

<body class="bg-ash">

  <section
  class="grid gap-x-4 grid-rows-none  grid-cols-4  md:grid-cols-8 lg:grid-cols-12 wrapper mx-auto pt-10 h-screen">
      <table class="self-center table-auto col-span-4 md:col-span-8 md:mx-4">
        <thead class="border-b-2 border-white">
          <tr class="text-coffee-brown">
            <th class="px-4 py-2">Name</th>
            <th class="px-4 py-2">Category</th>
            <th class="px-4 py-2">Stock</th>
            <th class="px-4 py-2">Price</th>
            <th class="px-4 py-2">Desc.</th>
            <th class="px-4 py-2">Time</th>
            <th class="px-4 py-2">Edit</th>

          </tr>
        </thead>
        <tbody>

          <% for(let item in menuItems) { %>
            <tr item_id=<%=menuItems.indexOf(menuItems[item])%>
              class="border-b border-coffee-brown text-white items-center">
              <td  class=" px-4 py-2"><%=menuItems[item].name%></td>
              <td  class=" px-4 py-2 text-center"><%=menuItems[item].category%></td>
              <td  class="px-4 py-2 text-center"><%=menuItems[item].in_stock%></td>
              <td  class=" px-4 py-2 text-center">$<%=menuItems[item].price / 100%></td>
              <td  class=" px-4 py-2 overflow-auto flex flex-wrap"><%=menuItems[item].description%></td>
              <td  class=" px-4 py-2 text-center"><%=menuItems[item].prep_time%></td>
              <td  class=" px-2 py-2 text-center ">
                <div class="flex items-end ">
                  <form  class="mr-2">
                    <button type="button" >
                      <img  class="pointer" id="edit"  src="/images/icons/edit.svg"/>

                    </button>
                  </form>
                  <form method="POST" action="/deleteItem">
                    <button  >
                      <input type="hidden" name="itemId" value=<%=menuItems[item].id%> />
                      <img src="/images/icons/trash.svg"/>

                    </button>

                  </form>
                </div
              ></td>

            </tr>
            <%}%>
    class="grid gap-x-4 grid-rows-none  grid-cols-4  md:grid-cols-8 lg:grid-cols-12 wrapper mx-auto pt-10 h-screen">
    <table class="self-center table-auto col-span-4 md:col-span-8 md:mx-4">
      <thead class="border-b-2 border-white">
        <tr class="text-coffee-brown">
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Category</th>
          <th class="px-4 py-2">Stock</th>
          <th class="px-4 py-2">Price</th>
          <th class="px-4 py-2">Desc.</th>
          <th class="px-4 py-2">Time</th>
          <th class="px-4 py-2">Edit</th>

        </tr>
      </thead>
      <tbody>

        <% for(let item in menuItems) { %>
        <tr item_id=<%=menuItems.indexOf(menuItems[item])%>
          class="border-b border-coffee-brown text-white items-center">
          <td class=" px-4 py-2"><%=menuItems[item].name%></td>
          <td class=" px-4 py-2 text-center"><%=menuItems[item].category%></td>
          <td class="px-4 py-2 text-center"><%=menuItems[item].in_stock%></td>
          <td class=" px-4 py-2 text-center">$<%=menuItems[item].price / 100%></td>
          <td class=" px-4 py-2 overflow-auto flex flex-wrap"><%=menuItems[item].description%></td>
          <td class=" px-4 py-2 text-center"><%=menuItems[item].prep_time%></td>
          <td class=" px-2 py-2 text-center ">
            <div class="flex items-end ">
              <form class="mr-2">
                <button type="button">
                  <img class="pointer" id="edit" src="/images/icons/edit.svg" />

                </button>
              </form>
              <form>
                <button>
                  <img src="/images/icons/trash.svg" />

                </button>

              </form>
            </div>
          </td>

        </tr>
        <%}%>

        </tbody>
      </table>
    </div>

    <form method="POST" action="/update" class=" self-center grid gap-x-4 grid-cols-4 table-auto col-span-4 md:col-span-6 md:col-start-2 lg:col-span-4 lg:col-start-9" id="edit-menu-form">
      <input type="hidden"  name="item_id" id="item_id"  >
      <h1 class="text-white text-5xl font-display font-bold h-auto block col-span-4" id="update-form-label">

        Add Menu Item
      </h1>
      <p class="text-white col-span-4 mb-6 block font-body font-light col-span-4">
        Use this form to update the menu.
      </p>
      <div class="mb-4 col-start-1 col-span-2">
        <label class="block text-white text-sm mb-2" for="item_name">
          Menu Item Name
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="item_name" name="item_name"
          type="text" />
      </div>
      <div class="mb-4 col-start-3 col-span-2">
        <label class="block text-white text-sm mb-2" for="item_price">
          Menu Item Price
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="item_price" name="item_price"
          type="number" min="0" />
      </div>
      <div class="mb-4 col-span-2">
        <label class="block text-white text-sm mb-2" for="item_prep_time">
          Average Prep Time
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="item_prep_time" name="item_prep_time"
          type="number" min="0" />
      </div>
      <div class="col-span-2">
        <label class="block text-white text-sm mb-2" for="item_category">
          Category
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="item_category"
          name="item_category" type="text" />
      </div>
      <div class="col-span-4">
        <label class="block text-white text-sm mb-2" for="item_image_url">
          Image URL
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="item_image_url"
          name="item_image_url" type="url" />
      </div>
      <div class="col-span-4">
        <label class="block text-white text-sm mb-2" for="item_description">
          Item Description
        </label>
        <input class="form-input text-coffee-brown focus:outline-none focus:shadow-outline" id="item_description"
          name="item_description" type="text" />
      </div>
      <div class="col-span-4">
        <input class="mr-2 leading-tight" id="item_in_stock"
          name="item_in_stock" type="checkbox" />
          <span class="text-sm text-white focus:outline-none focus:shadow-outline" for="item_in_stock">
            Item in Stock ?
           </span>
      </div>
      <div class="col-span-4 grid grid-cols-4 gap-x-4 ">
        <button type="submit" class="col-span-2 py-3 bg-coffee-brown  rounded text-white mt-10" id="update-btn">
          Update Item
        </button>
        <button type="button" onclick="clearForm()" class="col-span-2 border border-white  py-3 rounded text-white mt-10">
          Cancel
        </button>
      </div>

    </form>

  </section>
  <script>
    sessionStorage.setItem('menu', '<%-JSON.stringify(menuItems)%>')
  </script>
        <script src="/scripts/updateEditForm.js"></script>
</body>

</html>
