<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/styles/output.css" type="text/css" />
    <title>Register</title>
  </head>
  <body class="bg-ash">
    <!--Navbar-->
    <nav
      class="px-4 py-2 md:px-6 md:py-4 w-full flex items-center justify-between fixed"
    >
      <img src="/images/lhc-logo.svg" />
      <div class="flex">
        <a
        onclick="triggerCart()" 
        class="mx-3 lg:hidden"
          ><img src="/images/icons/shopping-cart.svg"
        /></a>
        <div onclick="triggerMenu()" class="mx-3 lg:hidden">
          <img src="/images/icons/menu.svg" />
        </div>

        <a href="/menu" class="text-white mx-3 hidden lg:block">Menu</a>
        <a class="text-white mx-3 hidden lg:block">Contact Us</a>
        <div class="h-px-6 w-px bg-coffee-brown mx-3 hidden lg:block"></div>
        <a href="/login" class="text-white mx-3 hidden lg:block">Login</a>
        <a href="/register" class="text-white mx-3 hidden lg:block">Sign Up</a>
      </div>
    </nav>

    <!--Mobile Menu-->

    <div
      class="fixed h-screen bg-ash right-0 flex flex-col items-end justify-center z-10 transition-all w-0 duration-300 ease-in-out"
      id="mobile-menu"
    >
      <img
        onclick="triggerMenu()"
        class="absolute top-0 left-0 p-6 transition-all duration-300"
        src="/images/icons/back-arrow.svg"
      />
      <a
        class="text-5xl md:text-6xl mobile-menu-item hover:text-coffee-brown hidden transition-all duration-300"
        >Menu</a
      >
      <a
        class="text-5xl md:text-6xl mobile-menu-item hover:text-coffee-brown hidden transition-all duration-300"
        >Contact Us</a
      >
      <a
        class="text-5xl md:text-6xl mobile-menu-item hover:text-coffee-brown hidden transition-all duration-300"
        >Login</a
      >
      <a
        class="text-5xl md:text-6xl mobile-menu-item hover:text-coffee-brown hidden transition-all duration-300"
        >Register</a
      >
    </div>

    <!--MOdal starts here-->

    <div
      class="bg-gray-900 hidden bg-opacity-75 w-full h-screen fixed z-20 grid grid-cols-4 gap-x-4 px-4 opacity-0 transition-all duration-300 md:grid-cols-8 lg:grid-cols-12"
      id="modal-background"
    >
      <div
        class="bg-gray-100 rounded-lg col-span-4 self-center opacity-0 transition-all duration-200 md:col-start-3 md:col-span-5 lg:col-start-5 lg:col-span-4"
        id="modal"
      >
        <header
          class="bg-white rounded-t py-4 p-2 flex flex-wrap justify-between"
        >
          <p class="font-bold text-xl text-center">Customize Order</p>
          <img
            class="w-8 cursor-pointer"
            src="/images/icons/close-outline.svg"
            id="close-modal"
          />

          <p class="text-light-grey w-full">
            Select the options below to customize your order.
          </p>
        </header>

        <form name="myForm"  class="block" id="menu-item-customizer">
          <div id="options-container">
            <p class="py-4 px-2">Choose Size</p>
            <label
              class="flex justify-between items-center bg-white p-3 border border-t"
            >
              <div class="bg-white w-full">Small</div>
              <input type="radio" name="size" value="small" />
            </label>
            <label
              class="flex justify-between items-center bg-white p-3 border border-t"
            >
              <div class="bg-white w-full">Medium</div>
              <input type="radio" name="size" value="medium" />
            </label>
            <label
              class="flex justify-between items-center bg-white p-3 border border-t"
            >
              <div class="bg-white w-full">Large</div>
              <input type="radio" name="size" value="large" />
            </label>
  
          </div>
          
          <div class="flex py-3 flex-wrap justify-center items-center">
            <button
              type="button"
              id="remove-qty"
              class="text-xl py-1 px-4 border border-light-grey rounded-lg text-light-grey text-lg"
            >
              -
            </button>
            <input
              onkeydown="return false"
              type="number"
              id="item-qty"
              class="w-12 text-center text-3xl bg-transparent text-coffee-brown font-body"
              value="0"
            />
            <button
              type="button"
              id="add-qty"
              class="text-xl py-1 px-4 border border-gray-700 rounded-lg text-ash text-lg"
            >
              +
            </button>
          </div>

          <button
            type="button"
            class="w-full text-center p-4 bg-coffee-brown rounded-b font-semibold text-white"
          >
            Add to Order
          </button>
        </form>
      </div>
    </div>

    <!--MOdal ends here-->

    <!--Landing Page-->
    <section
      class="grid grid-cols-4 gap-x-4 grid-rows-none mx-4 md:grid-cols-8 md:col-start-2 md:col-span-6 lg:grid-cols-12 xl:max-w-screen-xl xl:mx-auto h-screen pt-10"
    >
      <div
        class="col-span-4 grid grid-cols-4 gap-x-4 md:col-start-2 md:col-span-6 lg:col-start-1 lg:col-span-6 self-center xl:col-start-1 xl:col-span-5"
      >
        <div class="flex col-span-4 mb-6">
          <img
            class="h-full w-24 md:w-50 lg:w-full"
            src="/images/lhc-logo.svg"
          />
          <h1
            class="ml-4 text-white text-5xl font-display font-bold h-auto block col-span-4 self-end md:text-6xl"
          >
            The <br />
            Lighthouse
          </h1>
        </div>

        <p
          class="text-white col-span-4 mb-6 block font-body font-light col-span-4 md:text-lg"
        >
          I thought this salad was exceptionally delicious and healthy. I
          recommend pressing the entire tofu block for at least 20 minutes
          before to remove excess ...
        </p>

        <button class="bg-coffee-brown col-span-4 py-3 rounded text-white mt-2">
          Order Pickup
        </button>
      </div>

      <div class="col-span-6 col-start-7 self-center hidden lg:block">
        <img src="/images/landing-img.png" />
      </div>
    </section>

    <!-- Feature Items-->
    <section
      class="bg-feature-img bg-cover h-sm-feature grid grid-cols-4 gap-x-4 md:grid-cols-8 md:h-md-feature lg:h-lg-feature lg:grid-cols-12"
    >
      <div
        class="bg-ash col-span-4 rounded p-4 mx-4 self-center md:col-start-2 md:col-span-6 lg:col-start-3 lg:col-span-8 xl:col-start-4 xl:col-span-6"
      >
        <div class="md:px-12 md:py-2 lg:py-4">
          <p
            class="text-coffee-brown font-body font-bold text-xs font-bold lg:text-lg"
          >
            FEATURE OF THE DAY
          </p>
          <p class="text-white text-2xl font-display font-bold lg:text-4xl">
            Lighthouse Americano
          </p>
          <p class="text-white font-body mt-2 lg:text-xl">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. At
            condimentum lectus diam ac. Senectus nec dis quis pulvinar.
          </p>
        </div>
      </div>
    </section>

    <!--Menu Page-->

    <section class="bg-white">
      <div
        class="wrapper px-4 grid grid-cols-4 gap-x-4 py-6 md:grid-cols-8 lg:col-start-1 lg:grid-cols-12"
      >
        <div class="col-span-4 lg:col-span-12 mb-6">
          <h2 class="font-display text-3xl font-bold">Our Menu</h2>
        </div>

        <div class="col-span-4 pt-4 md:col-span-8" id="menu-items-container">
          <% for(let item in items) { %>
          <article  category ="<%= items[item].category %>" class="menu-item-card shadow rounded flex md:grid md:grid-cols-8 lg:mr-6">
            <img
              class="object-cover h-full w-full col-span-3 rounded-l hidden md:block"
              src=<%= items[item].picture_url%>
            />

            <div class="p-4 col-span-5">
              <header>

                <p class="text-xl font-body font-bold"><%=items[item].name%></p>
              </header>
              <p class="text-light-grey pb-4 pt-2">
                <%= items[item].description%></p>
              <footer class="flex justify-between items-center">
                <p class="cost text-xl text-ash">$<%= (items[item].price / 100)%></p>
                <button  onclick="openModal()" 
                  class="border-coffee-brown border-2 rounded text-coffee-brown py-1 px-2 font-body font-bold hover:bg-coffee-brown hover:text-white"
                >
                  <span class="text-xl leading-tight font-thin">+</span> Order
                </button>

              </footer>
            </div>
          </article>
          <% } %>
        </div>

        <!-------Checkout Cart-------->
        <div id="checkout-mobile-background" class="col-span-4 grid-cols-4 ">
          <div
          class="rounded shadow opacity-0 lg:opacity-100 hidden lg:block"
          id="checkout-cart"
        >
          <header class="p-4">
            <p class="font-display font-bold text-2xl text-center">
              Your Selection
            </p>
          </header>
          <div
            class="bg-coffee-brown flex justify-center items-center p-2"
            id="estimated-order-time-banner"
          >
            <img class="mr-2" src="/images/icons/clock.svg" />
            <p class="text-white font-body">
              Estimated Pickup Time:
              <span id="estimated-pickup-time font-bold">2:30pm</span>
            </p>
          </div>

          <div id="cart-items-container">
            <article
            class="cart-item flex flex-wrap justify-between px-4 py-4 border-b border-t"
          >
            <div class="flex items-center flex-wrap">
              <p class="item-qty font-body text-coffee-brown mr-2 inline-block">
                1
              </p>
              <p class="font-body text-ash text-xl inline-block">
                Lighthouse Americano
              </p>
            </div>
            <div class="flex items-center">
              <p class="text-gray-700 mr-2">$3.25</p>
              <img class="" src="/images/icons/close-circle.svg" />
            </div>

            <ul class="selected-options block list-disc w-48 ml-10">
              <li class="text-light-grey text-sm">Medium</li>
            </ul>
          </article>
          <article
            class="cart-item flex justify-between px-4 py-4 border-b border-t"
          >
            <div class="flex items-center">
              <p class="item-qty font-body text-coffee-brown mr-2 inline-block">
                1
              </p>
              <p class="font-body text-ash text-xl inline-block">
                Lighthouse Americano
              </p>
            </div>
            <div class="flex items-center">
              <p class="text-gray-700 mr-2">$3.25</p>
              <img class="" src="/images/icons/close-circle.svg" />
            </div>
          </article>
          </div>
          
          <button
            class="bg-ash w-full text-white font-bold font-body p-3 rounded-b"
          >
            Order Pickup
          </button>
        </div>
        </div>
       

      </div>
    </section>

    <script src="/scripts/nav.js"></script>
    <script src="/scripts/cache-cart.js"></script>
    <script src="/scripts/updateCartFrontend.js"></script>
    <script src="/scripts/updateModal.js"></script>
    <script src="/scripts/customCounter.js"></script>

  </body>
</html>
